<h3>Hello {{ user.first_name }} {{ user.last_name }}</h3>

<h5>We have successfully received the return of the book titled "{{ common.title }}" that you borrowed.</h5>

<p>Thank you for returning the book on time. We hope you enjoyed reading it!</p>

<p>Your current account balance remains at ${{ user.account.balance }}. If you'd like to borrow more books, feel free to browse our collection anytime.</p>

<p>Thank you for being a valued member of our library!</p>

<p>Happy reading!</p>

<p>Sincerely,</p>
<p>The Mamar Library Team</p>
