<h3>Hello {{ user.first_name }} {{ user.last_name }}</h3>

<h5>Your password has been successfully changed.</h5>

<p>If you did not request this change, please contact our support team immediately to secure your account.</p>

<p>For your security, we recommend regularly updating your password and ensuring it is unique and strong.</p>

<p>Thank you for being a valued member of our library. We’re here to assist you with any questions or concerns you may have.</p>

<p>Sincerely,</p>
<p>The Mamar Library Team</p>
