{% extends 'base.html' %}
{% block content %}
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger mt-2" role="alert">
        <strong>Error!</strong> {{ error }}
    </div>
    {% endfor %}
{% endif %}
<div class="row my-5 pb-4">
    <div class="col-md-5 offset-md-4 mt-4">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center font-weight-bold">Change Your Password</h1>
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    <div class="form-group mb-3">
                        <label for="{{ field.id_for_label }}" class="fs-5">{{ field.label }}</label>
                        <input class="form-control py-2" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
                        {% if field.errors %}
                            {% for error in field.errors %}
                            <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="text-center">
                        <button class="btn btn-primary font-weight-bold" type="submit">
                            Change Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
