{% extends 'base.html' %}
{% block content %}
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger mt-2" role="alert">
        <strong>Error!</strong> {{ error }}
    </div>
    {% endfor %}
{% endif %}
<div class="row justify-content-center my-5 pb-3">
    <div class="col-md-6 mt-4">
        <div class="card mt-5 mx-5">
            <div class="card-body mx-5">
                <h1 class="card-title text-center font-weight-bold">Login</h1>
                <div class="mt-4">
                    <form method="post">
                        {% csrf_token %}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        <div class="form-group mb-3">
                            <label for="{{ field.id_for_label }}" class="fs-5">{{ field.label }}</label>
                            <input class="form-control py-2" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
                            {% if field.errors %}
                                {% for error in field.errors %}
                                <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="text-end">
                            <button class="btn btn-lg btn-warning font-weight-bold my-3 px-4 py-2 fs-4" type="submit">
                                Log In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
